<div class="widget-wrap">
    <h3 class="widget-title">Categories</h3>
    <% if (site.categories.length){ %>
    <div class="widget">
        <%- list_categories() %>
    </div>
    <% } else { %>
    NULL
    <% } %>
</div>