<aside id="sidebar"<% if (theme.sidebar === 'bottom'){ %> class="outer"<% } %>>
  <% theme.widgets.forEach(function(widget){ %>
    <div class="span2">
        <%- partial('_widget/' + widget) %>
    </div>
  <% }) %>
</aside>